@model IWasThere.Models.Location

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1 class="stadium">@Html.DisplayFor(model => model.StadiumName)</h1>
    
    <h2 class="cityState">@Html.DisplayFor(model => model.City) @Html.DisplayFor(model => model.State)</h2> 
    <p><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/81814460_10218836282532223_8922108161536557056_n.jpg?_nc_cat=109&_nc_ohc=jUw24X2vIGAAQmHtBMfQtAVwko82OrhIZCluOcAuJgu8GZdYoToHFtAQg&_nc_ht=scontent-atl3-1.xx&oh=40a04e569e306a8745211724394fe030&oe=5EB45B17" alt="I Was There Logo" height="500" width="500" align="middle"></p>
       
        
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.LocationId">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
