@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">I WAS THERE</h1>
    <p>Want To Find Future Games To Attend? Check out <a href="https://fbschedules.com">FBSchedules.com</a>.</p>
    <p><img src="C:\Users\Eric\workspace\IWasThere\Views\Home\iWasThereLogo.png" width="500" height="500" /></p>
</div>
