@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">I WAS THERE</h1>
    <p>Want To Find Future Games To Attend? Check out <a href="https://fbschedules.com">FBSchedules.com</a>.</p>
    <p><img src="https://o.aolcdn.com/images/dims3/GLOB/legacy_thumbnail/1028x675/format/jpg/quality/85/http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2Ff0727f85e0cca04fa2d4be88bb6c9e46%2F205245258%2Fiowa-state-cyclones-fan-poses-for-a-photo-during-the-second-half-of-picture-id621021536" alt="College Football Fan" height="200" width="300"></p>
</div>
