@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">I WAS THERE</h1>
    <p>Want To Find Future Games To Attend? Check out <a href="https://fbschedules.com">FBSchedules.com</a>.</p>
</div>
